.background-container-about-us{background-color: #eee;}
.container_card_profile{
    .profile-card{
        width: 100%;
        height: auto;
        text-align: center;
        margin: 20px auto;
        box-shadow:  0px 0px 18px #ccc;
    }
    .profile-card .profile-header{
        height: 180px;
        overflow: hidden;
    }
    .profile-card .profile-header img{
        width: 100%;
        height: 180px;
        object-position: 50% 50%;
        object-fit: cover;
    }
    .profile-card .profile-body{
        background-color: #fff;
        padding: 20px 40px 40px 40px;
    }
    .profile-card .profile-body .author-img{
        margin-top: -100px;
        margin-bottom: 20px;
    }
    .profile-card .profile-body .author-img img{
        width: 170px;
        height: 170px;
        border-radius: 50%; 
        padding: 5px;
        background-color: #fff;
    }
    .profile-card .profile-body .name{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .profile-card .profile-body .intro{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
        margin: 20px  0px 30px  0px;
    }
        .social-icon ul {
        list-style-type: none;
    }
        .social-icon ul li {
        display: inline-block;
    }
        .social-icon ul li a {
        margin-right: 5px;
        width: 35px;
        height: 35px;
        border:1px solid #ddd;
        display: block;
        border-radius: 50%;
        transition: all 0.5s ease-out;
        }
        .social-icon ul{
        margin:0;
        padding:0;
    }
    .social-icon ul li a:hover {
        background-color: var(--dark);
        border:1px solid var(--dark);
    }
    .social-icon ul li a i{
        line-height: 35px;
        color:#666;
    }
    .social-icon ul li a i:hover,
    .social-icon ul li a:hover i{
        color:#fff;
    }
}