.container_apartment_show{

    .label_price{
        background-color: #9b7daf;
        color: #fff;
        padding: 5px;
        border-radius: 10px;
        font-size: 25px;
    }
    .bg-grey{
        background-color: #f0f0f0;
        .map{
            border-radius: 15px;
            width: 100%;
        }
    }
    
    @media only screen and (min-width: 991px) {    
        .space_negative{
            margin-right: -150px;
            z-index: 1;
            position: relative;
        }
    }
    @media only screen and (max-width: 990px) {
        .arrow{
            text-align: center;
            margin-bottom: 24px;
        }
    }
}