.create-edit {
  padding-bottom: 50px;

  $color-green : #6CA3BA;

  .title-form {
    color: $color-green;
    padding-bottom: 35px;
  }

  .title-label {
    color: $color-green;
    padding-bottom: 12px;
    font-size: 17px;
    letter-spacing: 1px;
  }
  
  .box-form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 35px 40px;
    margin-bottom: 55px;
  }

  .box-input {
    padding-bottom: 23px;
  }

  input {
    border-color: rgb(108 163 186 / 41%);
    border-radius: 10px;
    padding: 10px 15px;
    color: #1b1b1b;

    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: #CBCBCB;
    }
  }

  textarea {
    display: block;
    width: 100%;
    border-color: rgb(108 163 186 / 41%);
    border-radius: 10px;
    padding: 10px 15px;
    color: #1b1b1b;
    &:focus-visible {
      outline: none;
    }
  }


  .form-check-input {
    &:checked {
      background-color: $color-green;
      border-color: $color-green;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(108 163 186 / 41%);
    }
  }

  .form-file {
    position: relative;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 55px 40px;
    text-align: center;
    width: 70%;
    height: 85%;
    transition: 1.2s;
    &:hover {
      transform: scale(1.04);
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      i {
        color: $color-green;
        font-size: 40px;
        padding-bottom: 8px;

      }
    }
    
    input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  .create-edit .form-check-input:checked {
    background-color: $color-green;
    border-color: $color-green;
  }


  .btn-counter-style {
    background-color: white;
    border: 1px solid rgb(108 163 186 / 41%);
    border-radius: 50%;
    color: $color-green;
    padding: 5px 13px;
    font-size: 16px;
    font-weight: bold;
  }
  .total-item-style {
    background-color: transparent;
    color: $color-green;
    // color: #717171;
    border: none;
    width: 60px;
    font-size: 16px;
    text-align: center;
    &:focus-visible {
      outline: none;
    }
  }

  
  .btn-create-edit {
    .btn {
      color: white;
      padding: 8px 20px;
      &:focus {
        box-shadow: rgb(108 163 186 / 41%);;
      }
    }
    .btn-reset {
      color: $color-green;
      text-decoration: underline;
      box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    }
    .btn-create {
      background-color: $color-green;
      transition: 1s;
      &:hover {
        background-color: #6091a5
      }
      &:focus-visible {outline: none;}
      &:focus{box-shadow: none;}
    }
  }

}

// sm //
@media screen and (min-width: 576px){
  .form-file {
    width: 80%;
  }
}
// md //
@media screen and (min-width: 768px){
  .form-file {
    width: 100%;
  }
}
// lg //
@media screen and (min-width: 992px) {
  .form-file {
    width: 80%;
  }
}
// xl //
@media screen and (min-width: 1200px) {
  .form-file {
    width: 70%;
  }
}