.background-hero {
    background-image: url("/images/road.jpg");
    height: 250px;
    background-size: cover;
    background-position: center center;
}

.search-bar {
    padding: 0 100px;
}

.container-range {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}

.container-check {
    padding-left: 16px;
}

.input-incremate {
    width: 25px;
    text-align: center;
}

.title-form {
    margin-right: 60px;
}

.wrap {
    width: 200px;
    margin: 30px auto;
}
input {
    display: inline-block;
    &[type="text"] {
        width: 50px;
        text-align: center;
    }
}
