.container-footer {
    background-color: #f7f7f7;

    ul {
        color: black;
        li {
            padding-bottom: 10px;
            a {
                color: black;
                font-weight: 300;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .row-footer {
            ul {
                margin-bottom: 20px;
                li {
                    text-align: center;
                }
            }
        }
    }
}


.container-social {
    background-color: #333333;

    p {
        color: white;
        font-size: 14px;
    }

    a {
        color: white;
        i {
            font-size: 19px;
            &:hover {
                color: $color-b2;
            }
        }
    }


    @media only screen and (min-width: 768px) {
        .text-right {
            text-align: right;
        }
    }

    @media only screen and (max-width: 767px) {
        .query-icon {
            text-align: center;
        }
    }
}