.bg-hero {
  background-size: cover;
  background-position-y: center;
  height: 250px;
}

.img-profile {
  display: inline-block;
  // background-color: black;
  height: 100px;
  width: 100px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}

.navbar-link {
  li {
    margin: 0 10px 10px 0;
  }
  a {
    background-color: $color-primary;
    border-radius: 21px;
    padding: 8px 15px;
    color: white;
  }
}

.mt-50{
  margin-top: -40px;
}

// Background Hero
.bg-index {
  background-image: url('/images/hero.jpg');
}
.bg-show {
  background-image: url('/images/hero.jpg');
}
.bg-create {
  background-image: url('/images/hero.jpg');
}
.bg-edit {
  background-image: url('/images/hero.jpg');
}