$color-green : #6CA3BA;

.my-container {
    .price-card {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 135px;
        background-color: $color-green;
        flex-direction: column;
        border-radius: 0px 20px;
        position: relative;

        .price {
            font-size: 40px;
            color: white;
        }

        .price-day {
            position: absolute;
            right: 83px;
            color: white;
            font-style: oblique;
            font-size: small;
        }

        .icon-euro {
            position: absolute;
            left: 106px;
            top: 38px;
            font-size: 11px;
            color: wheat;
        }
    }

    .service-sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 96px 0;
        i {
            color: $color-green;
        }
    }

    .my-card {
        z-index: 1;
        position: relative;
        width: 300px;
        height: 500px;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        -moz-transition: all 0.7s ease-in-out;
        border-radius: 20px;
        &:hover {
            scale: 1.1;
            z-index: 99;
        }

        .btn-sponsor {
            button {
                width: 172px;
                border-radius: 19px;
                background-color: $color-green;
                border: none;
                height: 37px;
                color: white;
            }
        }

        // INPUT RADIO
        .container-radio {
            display: inline-block;
            position: relative;
            // padding-left: 30px;
            // padding-right: 20px;
            cursor: pointer;
        }
        
        .container-radio input {
            position: absolute;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        
        .checkmark {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 0;
            padding: 10px 20px;
            background-color: $color-green;
            color: white;
            border-radius: 15px;
            font-size: 16px;
            font-weight: 600;
            transition: 1s;
        }
        
        .container-radio:hover input ~ .checkmark {
            background-color: #56889d;
        }
        
        .container-radio input:checked ~ .checkmark {
            background-color: #56889d;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        // .checkmark:after {
        //     content: "";
        //     position: absolute;
        //     display: none;
        // }
        
        // .container-radio input:checked ~ .checkmark:after {
        //     display: block;
        // }
        
        // .container-radio .checkmark:after {
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     width: 7px;
        //     height: 7px;
        //     border-radius: 50%;
        //     background: white;
        // }
        
    }
}
